/* -------------------------------- 

Main components 

-------------------------------- */


#cd-team {
	overflow: hidden;
}
main.slide-out .cd-overlay {
	/* the overlay layer gets visible when the author bio slides in */
	display: block;
	-webkit-animation: cd-fade-in 0.3s;
	-moz-animation: cd-fade-in 0.3s;
	animation: cd-fade-in 0.3s;
}
#cd-team .cd-container {
	max-width: 1200px;
}
#cd-team h2 {
	color: #1a2f2a;
}
#cd-team li {
	margin-bottom: 2em;
	border-radius: 0.25em;
	box-shadow: 0 0 10px rgba(92, 75, 81, 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#cd-team figure {
	position: relative;
}
#cd-team img {
	display: block;
	width: 100%;
	border-radius: .25em .25em 0 0;
}
#cd-team li:hover .cd-img-overlay {
	opacity: 1;
}
#cd-team .cd-img-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	text-transform: uppercase;
}
#cd-team .cd-img-overlay span {
	bottom: auto;
	color: #fff;
	font-family: "Bubblegum Sans";
	font-size: 24px;
	left: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	position: relative;
	right: auto;
	top: 0;
	z-index: 8;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#cd-team .cd-member-info {

	position: relative;
	text-align: center;
	z-index: 7;
}
#cd-team .cd-member-info:after {
	background: none repeat scroll 0 0 #000;
	content: "";
	height: 300px;
	left: -64px;
	position: absolute;
	top: -41px;
	width: 437px;
	z-index: -1;
	transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
#cd-team .cd-member-info span {
	display: block;
}
#cd-team li {
	float: left;
	margin-right: 20px;
	width: 270px;
}
#cd-team li > a {
	display: block;
	margin-bottom: 0;
	overflow: hidden;
}
.cd-member-bio {
	position: fixed;
	top: 0;
	right: 0;
	width: 270px;
	height: 100%;
	overflow-y: auto;
	/* smooth scrolling on mobile phones and tablets */
	-webkit-overflow-scrolling: touch;
	background: #fff;
	z-index: 9999;
	/* this how we move the author bio section off the canvas */
	-webkit-transform: translateX(270px);
	-moz-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.cd-member-bio.slide-in {
	/* the author bio section slides in when the user clicks on the team member picture */
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.cd-member-bio .cd-member-bio-pict {
	float: left;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
	position: relative;
}
.cd-member-bio {
	float: left;
	margin: 0 0px 0px;
}
.cd-member-bio .cd-bio-content {
	padding: 2em;
	text-align: left;
	font-size: 16px;
}
.cd-member-bio .cd-bio-content p {
	text-align: left;
}

@media only screen and (min-width: 768px) {
.cd-member-bio {
	width: 600px;
	-webkit-transform: translateX(600px);
	-moz-transform: translateX(600px);
	-ms-transform: translateX(600px);
	-o-transform: translateX(600px);
	transform: translateX(600px);
}
}

@media only screen and (min-width: 1200px) {
.cd-member-bio {
	width: 800px;
	-webkit-transform: translateX(800px);
	-moz-transform: translateX(800px);
	-ms-transform: translateX(800px);
	-o-transform: translateX(800px);
	transform: translateX(800px);
}
.no-cssgradients .cd-member-bio .cd-bio-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
}
.cd-member-bio-close {
	width: 32px;
	height: 32px;
	overflow: hidden;
	position: fixed;
	top: 10px;
	right: 10px;

	text-indent: 100%;
	white-space: nowrap;
	z-index: 3;
	display: none;
}
.cd-member-bio-close.is-visible {
	display: block;
	-webkit-animation: cd-move-in 0.8s;
	-moz-animation: cd-move-in 0.8s;
	animation: cd-move-in 0.8s;
}

@media only screen and (min-width: 1200px) {
.cd-member-bio-close {
	right: 20px;
	top: 20px;
}
}
.cd-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	display: none;
	z-index: 9998;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@-moz-keyframes cd-fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@keyframes cd-fade-in {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@-webkit-keyframes cd-move-in {
 0% {
 -webkit-transform: translateX(100px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-move-in {
 0% {
 -moz-transform: translateX(100px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@keyframes cd-move-in {
 0% {
 -webkit-transform: translateX(100px);
 -moz-transform: translateX(100px);
 -ms-transform: translateX(100px);
 -o-transform: translateX(100px);
 transform: translateX(100px);
}
 100% {
 -webkit-transform: translateX(0);
 -moz-transform: translateX(0);
 -ms-transform: translateX(0);
 -o-transform: translateX(0);
 transform: translateX(0);
}
}
