

.iview-caption h3{
	font-size:44px;
	  font-family: 'Bubblegum Sans';
	  text-transform:uppercase;
}



.iview-caption .btn{
	background:#FF3399;
	color:#000;
	font-size:14px;
	border:none;
	
}

.iview-caption  .btn:before{
	content: '';
	border: 4px solid transparent;
	border-top-color: #000  !important;
	border-right-color: #000 !important;
	right: 3px;
	position: absolute;
	top: 3px;
}





#iview {
	display: block;
	max-width: 1920px;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}

#iview .iviewSlider {
	display: block;
	width: 1920px;
	height: 960px;
	overflow: hidden;

}



#iview div.iview-directionNav {
	position: absolute;
	top: 47%;
	left: 0px;
	z-index: 9;
	width: 100%;
}
#iview div.iview-directionNav a:hover{
	background:#000;
	border-color:#000;
}

#iview div.iview-directionNav a:after {
	color:#000;
}



#iview div.iview-directionNav a {
	
  border: 2px solid #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-in-out;
    width: 50px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

#iview div.iview-directionNav a.iview-prevNav:after {
	content: "\f104";
	position:absolute;
	display:inline-block;
	width:30px;
	height:30px;
	color:#fff;
	font-family: "FontAwesome";
	font-size: 41px !important;
	left:15px !important;
    top: -6px !important;
	position: relative;
}
#iview div.iview-directionNav a.iview-nextNav:after {
	content: "\f105";
	position:absolute;
	display:inline-block;
	width:30px;
	height:30px;
	color:#fff;
	font-family: "FontAwesome";
	font-size: 41px !important;
	left: 18px !important;
    top: -6px !important;
	position: relative;
}

#iview div.iview-directionNav a.iview-nextNav {
	right: -27px;
	background-position: 27px 0px;
}

#iview div.iview-directionNav a.iview-prevNav {
	left: -27px;
	background-position: 0px 0px
}

#iview.iview-hover div.iview-directionNav a.iview-nextNav {
	right: 20px;
}

#iview.iview-hover div.iview-directionNav a.iview-prevNav {
	left: 20px;
}




.iview-caption {
	
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
color: #FFF;
border-radius: 0px;
padding: 10px 15px !important;
font-size: 15px;
line-height:20px !important;
height: auto !important;
min-height:190px !important;
display: inline-block;
width: auto !important;
padding: 20px 20px 20px 20px !important;
display:none;
}

.iview-caption.caption1 {
	text-shadow: none;
}

.iview-caption.caption2 {
	background: #FFF;
	color: #000;
	text-shadow: none;
}

.iview-caption.caption3 {
	background: #c4302b;
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px;
	text-shadow: none;
}

#iview-preloader {
	border: #666 1px solid;
	width: 150px
}

#iview-preloader div {
	background: #666;
}
#iview-timer {
	border-radius: 10px;
}

#iview-timer div {
	border-radius: 10px;
}