/*------------------------------------------------------------------
[Table of contents]
01.Page Heading                
02.WORDPRESS Typography            
03.Sidebar          
04.Blog           
05.Comments        
06.Blog Home
-------------------------------------------------------------------*/

/*01. Page Heading*/


.page-title {
	font-family: 'latobold';
	text-transform: uppercase;
	font-size: 22px;
	color: #000;
}
/*02 WORDPRESS Typography */


.clear {
	clear: both;
}
.alignnone {
	margin: 0 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto;
	text-align: center;
}
.blockquote {
	padding: 20px;
	background: #000;
}
.entry-media .blockquote {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	margin-bottom: 0px;
	padding: 30px 30px 30px 90px;
	position: relative;
	font-family: 'latoitalic';
	font-size: 17px;
	display: inline-block;
}
.entry-media .blockquote a {
	color: #fff;
	font-family: 'latoitalic';
	font-size: 17px;
	text-decoration: none;
}
.blockquote-autor {
	display: inline-block;
	float: right;
	font-family: "oswaldbook";
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
}
.blockquote-autor:after {
	border: 1px solid #ffc908;
	border-left: 0;
	border-right: 0;
	position: absolute;
	padding: 1px;
	top: -7px;
	right: 0;
	content: '';
	display: block;
	width: 40px;
}
/*03 Sidebar */


.widget {
	margin-bottom: 35px;
}
.widget-banner img {
	width: 100%;
	height: auto;
}
.category-list {
	margin: 0;
	padding: 0;
}
.category-list li {
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 10px 10px 10px 30px;
	text-transform: uppercase;
	position: relative;
}
.category-list li:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	left: 10px;
	position: absolute;
	top: 15px;
}
.category-list li:hover:before {
	top: 40%;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.category-list li {
}
.category-list li:hover {
	background-color: #e21712;
	color: #fff;
	text-decoration: none;
}
.category-list li:hover a {
	color: #fff;
}
.widget ul {
	margin: 0;
	padding: 0;
}
.tag-cloud li {
	border: 1px solid #dddddd;
	color: #000;
	display: inline-block;
	margin: 0 1px 5px 0;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.tag-cloud li:hover a {
	text-decoration: none;
	color: #fff;
}
.tag-cloud li:hover {
	background-color: #e21712;
}
.tag-cloud li a {
	display: block;
	padding: 10px;
}
.widget-latest-post .media {
	margin-bottom: 20px;
	position: relative;
}
.bx-wrapper li:hover .media-desc {
	opacity: 1;
}
aside .bx-wrapper {
	overflow: hidden;
}
aside .bx-wrapper:hover .bx-prev {
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	left: 5px;
}
aside .bx-wrapper:hover .bx-next {
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	right: 5px;
}
aside .bx-wrapper .bx-prev {
	left: -33px;
}
aside .bx-wrapper .bx-next {
	right: -35px;
}
.media-desc {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	position: absolute;
	opacity: 0;
	height: 100%;
}
.media-desc .entry-title {
	line-height: 22px;
	margin: 0 0 5px;
}
.media-desc * {
	color: #fff;
}
.widget-latest-post img {
	width: 100%;
	height: auto;
}
.entry-thumbnail {
	border: 1px solid #ddd;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.post .entry-thumbnail {
	overflow: hidden;
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
	position: relative;
}
aside .nav-tabs > li.active > a, aside .nav-tabs > li:hover > a {
	border-top: 3px solid #000 !important;
}
aside .nav-tabs > li > a {
	font-size: 14px;
}
aside .entry-thumbnail {
	max-width: 50px;
}
aside .entry-thumbnail img {
	width: 100%;
	height: auto;
}
.widget-tabbed .entry-title a {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
aside .tab-content {
	display: inline-block;
	padding-top: 25px;
}
#tab-comments .entry-title a {
	margin-right: 5px;
}
.product-carousel-right .widget-title {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #ddd;
	color: #000;
	margin-top: 20px;
	padding-bottom: 16px;
}
.product-carousel-right .widget-title:before {
	display: none;
}
.widget-title {
	font-family: 'Bubblegum Sans';
	font-size: 16px;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
	background: #000000;
	color: #fff;
}
.widget-title:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	right: 3px;
	position: absolute;
	top: 3px;
}
.widget-newsletter input[type=text] {
	border: 1px solid #dddddd;
	padding: 14px 57px 14px 14px;
	width: 100%;
	font-family: 'latoitalic';
	color: #dddddd;
}
#newsletterform {
	position: relative;
}
.widget-newsletter button {
	background: none repeat scroll 0 0 #ffc908;
	border: medium none;
	font-size: 12px;
	height: 49px;
	line-height: 25px;
	padding: 15px 21px;
	position: absolute;
	right: 0;
	top: 0;
}
.widget-search input[type=text] {
	border: 1px solid #dddddd;
	padding: 14px 57px 14px 14px;
	width: 100%;
	font-family: 'latoitalic';
	color: #dddddd;
}
#searchform {
	position: relative;
}
.widget-search button {
	border: medium none;
	background: none;
	padding: 7px 10px;
	position: absolute;
	right: 12px;
	top: 8px;
}
/*04  Blog */


.entry-header {
	margin-bottom: 10px;
	position: relative;
}
.post {
	margin-bottom: 40px;
}
.post .bx-wrapper {
	margin: 0 auto;
	width: 100%;
}
.carousel-post {
	margin: 0;
	padding: 0;
}
.entry-thumbnail:hover .bx-prev, .entry-thumbnail:hover .bx-next {
	opacity: 1;
}
.sticky-post {
	background: #ffc908;
	color: #fff;
	display: block;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 109px;
	line-height: 1;
	padding: 31px 10px 0 32px;
	position: absolute;
	right: -70px;
	text-align: left;
	text-transform: none;
	top: -53px;
	transform: rotate(-45deg);
	width: 100px;
	z-index: 777;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.sticky-post i {
	font-size: 15px;
	left: -25px;
	position: relative;
	top: -5px;
}
.post-type-media {
	background: none repeat scroll 0 0 #fff;
	bottom: -58px;
	color: #000;
	display: block;
	font-size: 31px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 150px;
	left: -36px;
	line-height: 1;
	padding: 48px 10px 0 30px;
	position: absolute;
	text-align: right;
	text-transform: none;
	transform: rotate(-45deg);
	width: 100px;
	z-index: 777;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.post-type-media i {
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
}
.box-date-post {
	background: none repeat scroll 0 0 #e21712;
	color: #fff;
	height: 82px;
	left: -20px;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 80px;
	z-index: 78;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.post:hover .box-date-post {
	top: -10px;
}
.post .entry-media {
	position: relative;
}
.post .entry-media img {
	width: 100%;
	height: auto;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.box-date-post {
	text-align: center;
}
.box-date-post .date-1 {
	display: block;
	font-family: "latobold";
	font-size: 26px;
	line-height: 38px;
}
.box-date-post .date-2 {
	font-size: 14px;
}
.box-date-post:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 12px solid transparent;
	border-top-color: #e21712;
	border-right-color: #e21712;
	position: absolute;
	right: -11px;
	top: 30px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.box-date-post:after {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 5px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	position: absolute;
	left: 2px;
	top: 2px;
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.post .entry-media:hover .img-overlay {
	visibility: visible;
	opacity: 1;
}
.post .entry-media .img-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	height: 100%;
	opacity: 0;
	padding-top: 50%;
	position: absolute;
	text-align: center;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	visibility: hidden;
	width: 100%;
	z-index: 4;
}
.media-image.format-image:hover .entry-media img {
	position: relative;
	transform: scale(1.15, 1.15);
	transition-dur: 1500ms;
	transition-timing-function: ease-out;
	z-index: 3;
}
.post .entry-media {
	position: relative;
}
.link-view-more {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.link-view-more:after {
	color: #fff;
	left: 50%;
	position: absolute;
	top: 38%;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	font-size: 42px;
	content: '+';
	font-family: 'Times New Roman';
}
.post .entry-media:hover .link-view-more:after {
	text-decoration: none;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.post .entry-content {
	line-height: 1.333;
}
.post .entry-main {
	background: none repeat scroll 0 0 #f4f4f4;
	padding: 30px;
	position: relative;
}
.post .entry-title {
	margin: 0 0 10px 0;
	padding: 0;
	text-transform: uppercase;
	clear: both;
}
.post .entry-title > a {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.post .entry-content {
	margin-bottom: 10px;
	transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-ms-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-moz-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-webkit-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
}
.view-post-btn {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	display: inline-block;
	font-family: "oswaldbook";
	font-size: 13px;
	margin-top: 15px;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-ms-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-moz-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-webkit-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
}
.view-post-btn:hover {
	background: #e21712;
	color: #fff;
}
.view-post-btn:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	right: 3px;
	position: absolute;
	top: 3px;
}
.footer-panel {
	padding: 30px 0 0 0;
	position: relative;
}
.footer-panel:after {
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	height: 3px;
	content: '';
	display: inline-block;
	width: 100%;
}
.social-box .social-links {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
}
.social-box .social-links li a {
	font-size: 15px;
	text-align: center;
	border: 1px solid #ddd;
	position: relative;
}
.social-box .social-links li a:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-top-color: #e21712;
	border-right-color: #e21712;
	right: 0px;
	position: absolute;
	top: 0px;
}
.social-box .social-links li:hover a i {
	color: #fff !important;
}
.social-box .social-links li:hover a {
	background-color: #ffc908;
	color: #fff !important;
}
.social-box h4 {
	font-family: 'Bubblegum Sans';
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 10px;
}
/*05  Comments */


.comments-header {
	z-index: 7;
	background: none repeat scroll 0 0 #000000;
	display: inline-block;
	font-weight: normal;
	margin-bottom: 30px;
	padding: 12px 20px;
	position: relative;
	color: #fff;
	font-family: "oswaldbook";
	font-size: 16px;
	text-transform: uppercase;
}
.comments-header:after {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	right: 3px;
	position: absolute;
	top: 3px;
}
.comments-header a {
	color: #fff;
}
.comments-list > li {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 25px;
}
.comments-list > li li {
	position: relative;
}
.comments-list .comment:hover {
	background-color: #f4f4f4;
}
.comments-list {
	margin-bottom: 15px;
}
.comment {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.comment .avatar-placeholder {
	background-color: #e1e1e1;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100px;
	z-index: 9;
}
.comment .avatar-placeholder img {
	width: 100%;
	height: auto;
}
.comment .comment-header {
	margin: 0 0 10px 115px;
	padding-top: 15px;
}
.comment .comment-author {
	display: block;
	font-size: 17px;
	font-weight: normal;
}
.comment .comment-datetime {
	color: #858585;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}
.comment-datetime span[class*="icon-"] {
	color: #D2583E;
	font-size: 1.25em;
	font-style: normal;
	margin-right: 3px;
	position: relative;
	top: 2px;
}
.comment .comment-reply {
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	margin-right: 0;
	padding: 5px 12px;
	position: absolute;
	right: 10px;
	text-transform: uppercase;
	top: 10px;
}
.comment .comment-reply:hover i, .comment .comment-reply:hover a {
	color: #000;
}
.comment .comment-reply i {
	color: #ddd;
	display: inherit;
	left: 15px;
	position: absolute;
	top: 6px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.comment .comment-reply a {
	color: #ddd;
	padding-left: 21px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.comment .comment-reply a:hover {
	text-decoration: none;
}
.comment .comment-body {
	font-size: 13px;
	line-height: 1.333;
	margin-left: 40px;
	padding: 0 30px 0 75px;
}
.comment .comment-body p {
	margin-bottom: 0;
}
.comments-list .children {
	list-style: none outside none;
	margin: 0 0 0 55px;
	padding: 0;
}
.comments-list > li:last-child, .comments-list .children > li:last-child {
	margin-bottom: 0;
	background: none;
}
#comment-reply-form {
	margin-top: 30px;
}
#comment-reply-form input {
	padding: 10px;
	width: 100%;
	border: 1px solid #ddd;
}
.about-autor {
	clear: both;
	margin-bottom: 20px;
	margin-top: 20px;
}
#comment-reply-form textarea {
	height: 120px;
	padding: 10px;
	width: 100%;
	border: 1px solid #ddd;
}
.section-comment {
	margin-top: 30px;
}
/*06 Blog Home*/

.blog-post-title {
	font-size: 17px;
	text-transform: uppercase;
	margin-top: 10px;
}
.blog-post {
	border: 1px solid #ddd;
}
.blog-post .caption {
	padding: 0 20px 15px;
}
.blog-post-panel .btn {
	background-color: #fff;
	color: #000;
	font-family: "oswaldbook";
	padding: 10px 20px;
	margin: 0;
}
.blog-post-panel .btn:hover {
	background-color: #e21712;
	color: #fff;
}
.blog-post-panel .btn:before {
	border-right-color: #ffc908 !important;
	border-top-color: #ffc908 !important;
}
.post-home-image {
	position: relative;
	overflow: hidden;
}
.post-home-image .post-type-media {
	background: none repeat scroll 0 0 #fff;
	bottom: -58px;
	color: #000;
	display: block;
	font-size: 31px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 136px;
	left: -36px;
	line-height: 1;
	padding: 48px 10px 0 30px;
	position: absolute;
	text-align: right;
	text-transform: none;
	transform: rotate(-55deg);
	width: 100px;
	z-index: 777;
	-moz-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-webkit-transform: rotate(-55deg);
	transform: rotate(-55deg);
}
.post-home-image .post-type-media i {
	-moz-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
	transform: rotate(55deg);
	display: block;
}
.post-home-image .post-type-media i {
	font-size: 19px;
	position: relative;
	top: -7px;
}
.blog-post-home .box-date-post {
	left: -5px;
}
