


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* Please for your own changes use this file.  */
/*//////////////////////////////////////////////////////////////////////////////////////////*/

/*Account*/
#account{
    margin-top: 100px;
}
#account .madfat-logo{
    width: 100%;
}
/*Profile*/
.avatar-change-img{
    width: 100px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* Please for your own changes use this file.  */
/*//////////////////////////////////////////////////////////////////////////////////////////*/
/*Homepage*/
.nav{
    background: #FF3399;
    width: 100%;
}
.nav-fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
}



#cssmenu { float:none;}
#cssmenu li.signin { float:right; margin: 0 5px;}
#cssmenu li.signin a {border:#fff solid 2px; padding:8px;border-radius:10px; }
#cssmenu li.social {float:right;}
#cssmenu li.social a {padding: 0px 5px; font-size:44px; float: left;}

.yamm.navbar-default .navbar-nav { float:none;}
.yamm.navbar-default .navbar-nav > li.signin { float:right;  margin:8px;}
.yamm.navbar-default .navbar-nav > li.signin a {border:#fff solid 2px; padding:8px;border-radius:10px; }
.yamm.navbar-default .navbar-nav > li.social {float:right; margin: 5px 8px;}
.yamm.navbar-default .navbar-nav > li.social a {padding:5px 10px; font-size:44px; float: left;}
.hvr-bob{
    float: none;
}
.flex-direction-nav .flex-prev{
    left: 300px !important;
}
.flex-direction-nav .flex-next{
    right: 300px !important;
}
.panel, .nav-tabs{
    border: none;
}
.home-section {
    -moz-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -webkit-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -o-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -ms-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) skewX(0deg) skewY(0deg);
}

.home-section > .container {
    -moz-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -webkit-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -o-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    -ms-transform: rotate(0deg) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) skewX(0deg) skewY(0deg);
}
.yamm.navbar-default{
    transform: rotate(0deg) skewX(0deg) skewY(0deg);
}
.main-prize{
    margin:-40px 0;
}

/* COMMON PRICING STYLES */
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
    font-family:'Bubblegum Sans';
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}

.panel-heading h3 { margin:0;}

h2.lead { font-size:40px; margin:0; line-height:1;}


.panel.price>.panel-heading{
    box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
    text-shadow:0px 3px 0px rgba(50,50,50, .6);
}


.price .desc{ padding:20px 20px 0 20px;}



.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);

}


.panel.price .btn{
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border:0px;
    color:#fff;
    font-size:24px;
    font-family:'Bubblegum Sans';
    border-radius: 10px;
}

.panel.price .amount { font-size:66px; line-height:1.1 }




.price.panel-pink>.panel-heading {
    color: #fff;
    background-color: #b3246b;

}

.panel-pink .desc { color:#b3246b;}
.panel-pink .btn {background-color:#b3246b;}
.price.panel-pink>.panel-body {
    color: #fff;
    background-color: #ff3399;
}


.price.panel-pink>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);

}



.price.panel-purple>.panel-heading {
    color: #fff;
    background-color: #6b486b;
}

.panel-purple .desc {color:#6b486b;}
.panel-purple .btn {background-color:#6b486b;}

.price.panel-purple>.panel-body {
    color: #fff;
    background-color: #969;
}


.price.panel-purple>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}


/* red price */


.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #b30048;

}


.price.panel-red>.panel-body {
    color: #fff;
    background-color: #ff0066;
}

.panel-red .desc { color:#b30048;}
.panel-red .btn {background-color:#b30048;}




.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
.owl-carousel .owl-next i, .owl-carousel .owl-prev i{
    font-size:20px;
    border: 1px solid #000000;
    padding: 0 5px;
}
.owl-carousel .owl-next:hover > i, .owl-carousel .owl-prev:hover > i{
    background: #ff0000;
    color: #ffffff;
}

/*Account*/
#account{
    margin-top: 100px;
}
#account .madfat-logo{
    width: 100%;
}
/*Profile*/
.avatar-change-img{
    width: 100px;
}

.edit{
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 6px 10px;
}
.save{
    padding: 6px 10px;
    margin-top: 0px;
    display: block;
    float: left;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.cancel{
    padding: 6px 10px;
    margin-top: 0px;
    display: block;
    float: left;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.group{
    margin-bottom: 10px;
    overflow: hidden;
}
#account p{
    overflow: hidden;
    line-height: 34px;
}
#password-editing{
    display: none;
}
#password-editing input[type="password"]{
    width: 100%;
    padding: 5px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}
small{
    margin-bottom: 10px;
    float: left;
    width: 100%;
    font-weight: bold;
}
.border-green{
    border: 2px solid #3c763d !important;
}
.border-red{
    border: 2px solid #E00001 !important;
}

@media only screen and (max-width: 768px) {
    .ptable-offer-item{
        height: auto !important;
        font-size: 20px !important;
        margin: 0 !important;
        border-bottom: none !important;
    }
    .ptable-offer-item .flex-item{
        float: left;
        width: 100%;
        text-align: center;
    }
    .ptable-offer-item.price{
        width: 100%;
        font-size: 44px !important;
        padding: 0 0 5px 0;
    }
    .table-line{
        margin-top: 75px;
    }
    #contactForm{
        width: 100%;
    }
    .home-section {
        -moz-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) skewX(0deg) skewY(0deg);
    }

    .home-section > .container {
        -moz-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) skewX(0deg) skewY(0deg);
    }
    .yamm.navbar-default{
        transform: rotate(0deg) skewX(0deg) skewY(0deg);
    }
    .x-coutdown{
        margin: 0;
    }
    .x-coutdown .x-cdr {
        font-size: 30px;
        padding: 0;
        width: 70px;
    }
    .small-logo{
        float: left;
        text-align: center;
    }
    .small-logo span{
        float: none;
    }
    .section-heading.big {
        margin: 0 auto;
        font-size: 40px;
    }

    /*Navigation*/
    .yamm.navbar-default .navbar-nav {
        float: left;
        width: 100%;
        margin: 0;
    }
    .yamm.navbar-default .navbar-nav > li {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .yamm.navbar-default .navbar-nav > li.social a {
        padding: 5px 10px;
        font-size: 44px;
        display: inline;
        float: none;
    }

    .flex-direction-nav .flex-prev{
        left: 0 !important;
    }
    .flex-direction-nav .flex-next{
        right: 0 !important;
    }
    .table-line.single .ptable-offer-item {
        background: rgba(144, 96, 144, 0.2);
    }
    .table-line.standard .ptable-offer-item {
        background: rgba(255, 51, 153, 0.1);
    }
    .table-line.vip .ptable-offer-item {
        background: rgba(255, 0, 96, 0.1);
    }

    #cssmenu li.social{
        margin-left: 10px;
        float: none;
        text-align: center;
    }
    #cssmenu li.social a {
        padding: 0px 5px;
        font-size: 44px;
        display: inline-block;
        width: auto;
        float: none;
    }
    #cssmenu li.signin {
        float: none;
        padding: 0 20px;
        margin: 0;
    }
    .main-prize{
        margin: -8px 0;
    }
    .owl-carousel .owl-prev{
        top: 50%;
        position: absolute;
        left: 0;
    }
    .owl-carousel .owl-next{
        top: 50%;
        position: absolute;
        right: 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .nav .container{
        margin: 0;
        width: 100%;
    }
    #cssmenu li.signin {
         margin: 0;
         padding: 0 20px;
     }
}