/*------------------------------------------------------------------
[Table of contents]

01.Home Mega Menu         
02.Service Section          
03.About            
04.Verticale tabs section          
05.Featured box           
06.Featured carousel section           
07.Portfolio isotope           
08.X-carousel          
09.Events     
10.UPCOMING CLASSES             
11.Team              
12.REVIEW              
13.contactForm              
14.Footer Blog and Home            
15.flickr-feed        
16.Table        
17.Navigation        
18.Section

-------------------------------------------------------------------*/

a, a:focus { outline:none !important}
.modal a { text-decoration:underline; color:#C30}
.modal a.btn { text-decoration:none;}

/* 1.Home Mega Menu */

.yamm.navbar-default {
	background:#FF3399;
	
	border: none;
	/*background:#FF3399; -webkit-box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.3);
box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.3);*/
position: absolute;
    bottom: -25px;
    width: 100%;
    z-index: 888;
	transform:rotate(0deg) skewX(0deg) skewY(-1deg)
}
.navbar-fixed-top.navbar-fixed-top { position:fixed; top:0px; bottom: inherit; transform:rotate(0deg) skewX(0deg) skewY(0deg)}

/*.yamm.navbar-default:after { content:""; display:block; height:49px; width:100%; background:url(../img/nav-drip.png) top repeat-x; background-size: 444px 49px; position:absolute; z-index:555; margin-top:-1px;}*/


.yamm.navbar-default:before { content:""; display:block; height:60px; width:100%;  position:absolute;  left:0;
    position: absolute;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
    width: 100%; background:rgba(255,0,153,0.3) ; z-index:-1; }
	
	.yamm.navbar-default:after { content:""; display:block; height:60px; width:100%;  position:absolute; top:0px;  left:0;
    position: absolute;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
    width: 100%; background:rgba(255,0,153,0.5) ; z-index:-1; }

.yamm.navbar-default li.active {
 text-shadow:rgba(0,0,0,0.4) 0 2px 1px;
}
.yamm.navbar-default li.active a {
	-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
.dropdown-menu {
	background: #222222;
}

.yamm.navbar-default .navbar-nav > li > a {
	font-family: 'Bubblegum Sans';
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out 0s;
	text-shadow:rgba(0,0,0,0.4) 0 2px 1px;

}
.yamm.navbar-default .navbar-nav > li:hover > a {
	/*-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);*/
	
}
html .navbar-default .navbar-nav > .active > a, html .navbar-default .navbar-nav > .active > a:hover, html .navbar-default .navbar-nav > .active > a:focus {
	
}
.dropdown-menu .thumbnail {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0px;
	overflow: hidden;
	position: relative;
}
.dropdown-menu .thumbnail img {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.dropdown-menu .thumbnail:hover img {
}
.dropdown-menu .thumbnail:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none
}
.dropdown-menu .thumbnail:hover:after {
	width: 120%;
	background-color: rgba(255,255,255,0);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.yamm .dropdown-menu li a, .yamm .dropdown-menu li {
	font-family: 'Open Sans';
	color: #cccccc;
	font-size: 13px;
	position: relative;
}
.navbar-nav .yamm-classic li a {
	margin-bottom: 0 !important;
	padding: 10px 20px !important;
	text-transform: uppercase;
}
.yamm-classic .dropdown-menu {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.yamm-classic .dropdown-menu li {
	margin-bottom: 0 !important;
	position: relative;
}
.yamm .dropdown-menu li {
	margin-bottom: 5px;
	position: relative;
}
.yamm .dropdown-menu li li {
	margin-left: 20px;
}
.yamm .dropdown-menu li li:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 5px solid #fff;
	border-bottom-color: transparent  !important;
	border-left-color: transparent !important;
	left: -20px;
	position: absolute;
	top: 5px;
}
.yamm .dropdown-menu li a {
	padding: 5px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.yamm .dropdown-menu li a:hover {
	background-color: #FF3399;
	text-decoration: none !important;
	color: #000;
}
.yamm .dropdown-menu li:hover:before {
	border-color: #FF3399;
}
.yamm .dropdown-menu li:hover > a {
	text-decoration: underline;
}
.yamm .dropdown-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.yamm .dropdown-menu h5 {
	font-family: 'Bubblegum Sans';
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #444444;
}
.yamm .dropdown-menu h5:after {
	border-bottom: 1px solid #444444;
	bottom: -3px;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	width: 100%;
}
.yamm .dropdown-menu h5:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid #e21712;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	left: -12px;
	position: absolute;
	top: -12px;
}
.yamm .dropdown-menu h5:hover:before {
	border-color: #FF3399;
}
/* 2. Prizes Section*/




.small-logo {
	font-family: 'Open Sans';
	color: #e21712;
	font-size: 28px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.small-logo img.img-responsive { max-width:300px;}
.small-logo span { float:right; display:inline-block; text-transform:none; color:#FF3399; font-size:45px; font-family: 'Bubblegum Sans';}
.heading-wrap {
	margin: 0 auto 40px auto;
	max-width: 1000px;
}
.section-heading {
	font-family: 'Bubblegum Sans';
	font-size: 55px;
	text-align:center;
	margin: 0 0 10px;
	text-transform: uppercase;
	color:#FF3399;
	text-shadow: -2px -2px 0 #fff,
	2px 2px 0 #FFC;
	
}

.section-heading.big { font-size:75px;}

.section-heading.white { color:#fff;
  /*text-shadow: 0px 15px 25px rgba( 0, 0, 0, 0.5 );*/
text-shadow:0 1px 0 #999, 
               0 2px 0 #888,
               0 3px 0 #777,
               0 4px 0 #666,
               0 5px 0 #555,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}

.parallax-black .section-subheading {color:#FF3399}


p.white { color:#fff;}
.section-subheading {
	/*background: none repeat scroll 0 0 #FF3399;*/
	color: #FF3399;
	display: inline-block;
	font-family: 'Bubblegum Sans';
	font-size: 40px;
	margin: 0 0 10px;
	position: relative;
	max-width:600px;
	border-radius:10px;
}
.service-item {
	margin-bottom: 30px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #000;
}
.service-icon {
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	overflow: hidden;
	padding: 20px;
	position: relative;
	margin-bottom: 30px;
}
.service-icon:after {
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 10px;
	position: absolute;
	right: -10px;
	top: -5px;
	transform: rotate(45deg);
	width: 25px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.service-item:hover .service-icon:after {
	background-color: #FF3399;
}
.service-item i {
	display: block;
	background: none repeat scroll 0 0 #fff;
	border: 5px solid #fff;
	color: #000;
	font-size: 40px;
	height: 100px;
	line-height: 54px;
	padding: 20px;
	width: 100px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	margin-bottom: 30px;
}
.service-item:hover i {
	color: #fff;
	background: none repeat scroll 0 0 #000;
	border: 5px solid #666666;
}
.service-item i:after {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	background: #e21712;
	transform: rotate(10);
	position: absolute;
	right: -5px;
	top: -5px;
}
.service-item h4 {
	margin: 0 0 20px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
}
.service-item:hover h4 {
	color: #e21712;
}
/*3.About*/


.hash { font-size:86px; 
display: inline-block;
line-height: normal;
vertical-align: middle;}

.about-tabs.nav-tabs > li {
	margin-right: 10px;
	width: 30%;
}
.about-tabs.nav-tabs > li a {
	border: medium none !important;
	margin: 0;
	padding: 0;
}
.about-tabs.nav-tabs > li img {
	height: auto;
	max-width: 100%;
	width: 100%;
}
.blockquote-title {
	border-left-color: #FF3399;
	color: #888888;
	font-family: "Open Sans";
	font-size: 22px;
	line-height: 1.111;
	max-width: 140px;
	padding: 0 10px;
	position: relative;
	text-transform: uppercase;
}
.blockquote-title:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-top-color: #e21712;
	border-right-color: #e21712;
	right: 0px;
	position: absolute;
	top: 0px;
}
.blockquote-quote {
	border:  none;
	font-size: 18px;
	padding: 0 0 40px 40px;
	position: relative;
	margin-bottom: 40px;
}
.blockquote-quote:before {
	border-bottom: 1px solid #000;
	bottom: -3px;
	content: "";
	display: block;
	position: absolute;
	width: 35px;
}
.blockquote-quote:after {
	border-bottom: 1px solid #000;
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	width: 35px;
}
.blockquote-quote .fa-quote-left, .blockquote-quote .fa-quote-right {
	color: #e21712;
	font-size: 30px;
	left: 0;
	position: absolute;
	top: 0;
}
.avatar-about img {
	float: left;
	height: auto;
	margin: 0 20px 20px 35px;
	max-width: 60px;
	width: 100%;
}
.avatar-about h4 {
	font-family: 'Bubblegum Sans';
	font-size: 14px;
	color: #e21712;
	margin-bottom: 15px;
}
.avatar-about, .avatar-about * {
	margin: 0;
	padding: 0;
	font-family: 'latoitalic';
	font-size: 14px;
	color: #4b4b4b;
}
.about-tabs {
	border: none;
}
.about-tabs .tab-li-content {
	bottom: 0;
	display: none;
	left: 0;
	min-height: 190px;
	position: absolute;
	width: 100%;
}
.about-tabs .active .tab-li-content {
	display: block;
}
.about-tabs img {
	opacity: 0.7;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.about-tabs .active img {
	opacity: 1;
	border: none;
}
.about-tabs .tab-li-content h4 {
	font-family: 'Open Sans';
	font-size: 28px;
	color: #000;
	margin: 30px 0;
}
.about-tabs .tab-li-content h4 strong {
	font-family: 'Open Sans';
}
.about-tabs-wrap {
	position: relative;
	border: medium none;
	padding-bottom: 180px;
}
.about-tabs {
	display: inline-block;
	width: 100%;
}
.about-tabs-wrap li {
	position: inherit;
}
/*4.Verticale tabs section*/


.verticale-tabs-section .nav a {
	font-family: 'Open Sans';
	color: #000;
	font-size: 13px;
	text-transform: uppercase;
}
.verticale-tabs-section .nav i {
	color: #000;
	font-size: 25px;
	line-height: 30px;
	margin-right: 20px;
	position: relative;
	top: 1px;
}
.verticale-tabs-section .tab-content img {
	max-width: 100%;
	height: auto;
}
.ft-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ft-list li {
	display: inline-block;
	margin-bottom: 20px;
}
.ft-list li:hover .icon-ft-list {
	background: #000;
	border: 3px solid red;
	color: #fff;
	border-radius: 100px;
}
.icon-ft-list {
	font-family: 'Bubblegum Sans';
	line-height: 38px;
	border: 1px solid #ddd;
	color: #000;
	float: left;
	font-size: 30px;
	height: 65px;
	margin: 0px 10px 0 0;
	padding: 12px;
	text-align: center;
	width: 65px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.icon-ft-list:after {
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 10px;
	position: absolute;
	right: -10px;
	top: -5px;
	transform: rotate(45deg);
	width: 25px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ft-list li:hover .icon-ft-list:after {
	background-color: #FF3399;
}
.ft-list h4 {
	font-size: 14px;
}
.ft-list {
	font-size: 13px;
}
/* 04. Featured box*/

.x-verticale-tabs {
	margin-bottom: 20px !important;
}
.ft-box {
	/*border: 1px solid #fff;*/
	min-height: 230px;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	
	text-align: center;
	
}

.ft-box:hover { background:none;}
.ft-box:before {opacity:0; 

content:"";
	position:absolute;
	 width:490px;
	height:490px;
	top:-10%;
	left:-10%;
	background:url(../img/rays.png) center center no-repeat;
	-webkit-animation-name: spinrays;
  -webkit-animation-duration:12s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: spinrays;
  -moz-animation-duration:12s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  z-index:-1;
  -webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;}
 .ft-box:hover:before {
	opacity:1;	 

}

@-webkit-keyframes spinrays {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes spinrays {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}



.video-wrapper {background:url(../img/video-laptop.png) center center no-repeat; margin:0 auto; width:100%; height:auto; max-width:840px; min-height:465px; max-height:466px;}
.video-player {padding:52px 144px 0 144px;}
/*.ft-box:after {
	background: none repeat scroll 0 0 #fff;
	content: "";
	height: 15px;
	position: absolute;
	right: -10px;
	top: -5px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 25px;
}*/
.ft-box hr {
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
	height: 3px;
	margin: 0 auto 20px;
	padding: 0;
	position: relative;
}
.ft-box h4 {
	font-family: 'Bubblegum Sans';
	font-size: 33px;
	text-align: center;
	text-transform:uppercase;
	
   
}
.ft-box .ft-icon-box {
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.ft-box p {
	text-align: center;
}
/* 0.5 Featured carousel section*/

.x-slider.product-grid li {
/*	max-width: 200px;*/
}
.x-slider li {
	list-style: none outside none;
	position: relative;
	width: 195px;
	display: inline-block;
	float: left;
	position: relative;
	vertical-align: top;
	text-align:center;
}
.x-slider .avatar h4 {
	padding: 0 10px;
}
.x-item-wrap .avatar img {
	/*margin-bottom: 20px;*/
}
.x-item-wrap .avatar {
	-webkit-transform: rotateY(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.x-item-wrap:hover .avatar {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.x-item-wrap .details {
	background-color: #e21712;
	padding: 15px;
	color: #fff;
	font-size: 12px;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.x-item-wrap .btn-danger { border-color:#fff;}
.x-item-wrap .details:after {
	background: none repeat scroll 0 0 #FF3399;
	content: "";
	height: 15px;
	position: absolute;
	right: -10px;
	bottom: -5px;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 25px;
}
.x-item-wrap:hover .details, .x-item-wrap:hover .details {
	z-index: 10;
	position: absolute;
	-webkit-transform: rotateY(0deg) rotateY(0deg);
	-moz-transform: rotateY(0deg) rotateY(0deg);
}
.x-item-wrap:hover .details {
	z-index: 10;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
	width:100%;
}
.sly_scrollbar {
	border-radius: 4px;
	height: 14px;
	margin: 30px 15px 0;
}
.sly_scrollbar:after {
	background: none repeat scroll 0 0 #ececec;
	content: "";
	display: block;
	height: 2px;
	padding: 0;
	position: relative;
	top: -8px;
	width: 100%;
	z-index: 4;
}
.sly_scrollbar .handle {
	background: none repeat scroll 0 0 #ff1c32;
	cursor: pointer;
	height: 100%;
	margin: 0;
	position: relative;
	width: 75px;
	z-index: 7;
}
.sly_scrollbar_isotope {
	border-radius: 4px;
	height: 14px;
	margin: 30px 15px 0;
}
.sly_scrollbar_isotope:after {
	background: none repeat scroll 0 0 #ececec;
	content: "";
	display: block;
	height: 2px;
	padding: 0;
	position: relative;
	top: -8px;
	width: 100%;
	z-index: 4;
}
.sly_scrollbar_isotope .handle {
	background: none repeat scroll 0 0 #ff1c32;
	cursor: pointer;
	height: 100%;
	margin: 0;
	position: relative;
	width: 75px;
	z-index: 7;
}
.x-item-wrap .details .fa-box-arrow {
	border: 1px solid #fff;
	color: #fff;
	display: block;
	height: 25px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 25px;
	margin-top: 10px;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.x-item-wrap .details .fa-box-arrow:hover {
	background: none repeat scroll 0 0 #FF3399;
	border-color: #FF3399;
}
.x-item-wrap .details .fa-box-arrow i {
	color: #fff;
	left: 8px;
	position: absolute;
	top: 5px;
}
/* STEPS RULES */

#steps {background:rgba(0,0,0,0.6); width:100%; display:block;}
.step { position:relative; padding:20px 10px;}

.step:after { content:"\f105"; font-family:'FontAwesome'; position:absolute; top: 65px;    right: 0;    color: #FF3399;    font-size: 32px;}
.step.last:after { content:"";}
.step span { width:60px; height: 60px; background:#FF3399; text-align:center; border-radius:100%; display:inline-block; font-family:'Bubblegum Sans';font-size: 32px;
    line-height: 1.8;
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
    border:#9F4F00 solid 3px;}

.step h4 { padding:10px 0 0 0; font-size:24px; font-weight:bold; color: #FF3399;
    text-shadow: 2px 2px 1px #000;}
.step:hover h4 { text-shadow:rgba(0,0,0,0.7) 3px 7px 5px; -webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;}
/* 0.6 Portfolio isotope */




.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
#filter li {
	display: inline-block;
	list-style: none;
	margin-bottom: 50px;
}
#filter li a {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dddddd;
	color: #000;
	display: block;
	font-family: "oswaldbold";
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	margin-left: -5px;
	overflow: hidden;
	position: relative;
}
#filter li a:hover, #filter li a.current {
	background: #000;
	color: #fff;
}
#filter li a:after {
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 15px;
	position: absolute;
	right: -12px;
	top: -5px;
	transform: rotate(45deg);
	width: 25px;
}
#filter li a.current:after {
	background: none repeat scroll 0 0 #FF3399;
}

@media only screen and (min-width : 1600px) and (max-width : 3200px) {
.isotope-item {
	
}
}
.isotope-item {
	width: 24.98%;
}
.isotope-item img {
	width: 100%;
	height: auto;
}
.isotope-item:hover .slide-desc {
	opacity: 1;
}
.isotope-item .slide-desc {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	left: 0px;
	position: absolute;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
	opacity: 0;
	overflow: hidden;
}
.isotope-item .slide-desc h3 {
	float: right;
	font-family: "Bubblegum Sans";
	font-size: 24px;
	line-height: 30px;
	text-align: right;
	text-transform: uppercase;
	width: 66%;
	position: relative;
}
.isotope-item .slide-desc h3:after {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	bottom: -11px;
	content: "";
	height: 4px;
	position: absolute;
	right: 0;
	width: 50px;
}
.btn-icon {
	background-color: #e21712;
	bottom: 20px;
	color: #fff;
	display: inline-block;
	padding: 10px;
	position: absolute;
	right: 20px;
	text-transform: uppercase;
}
.outline-outward.btn-icon {
	position: absolute;
}
.outline-outward.btn-icon:before {
	border-color: #e21712;
}
.btn-icon:hover {
	text-decoration: none;
	color: #fff;
}
.btn-icon i {
	margin-right: 5px;
}
.isotope-desc-content {
	display: inline-block;
	float: right;
	padding: 13px;
	position: relative;
	right: -10px;
	text-align: right;
	width: 85%;
}
.slide-desc:after {
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 15px;
	position: absolute;
	right: -10px;
	top: -5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 25px;
}
/* 0.7 X-carousel */


.x-coutdown h5 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Bubblegum Sans';
}
.home-section .brand-carousel {
	margin-top: 70px;
}
.brand-carousel img {
	width: 100%;
	height: auto;
}
.x-carousel {
	text-align: center;
}
.x-carousel li {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #eeeeee;
	display: inline-block;
	float: left;
	list-style: outside none none;
	margin-bottom: 5px;
	padding: 0 20px;
	position: relative;
	vertical-align: top;
	width: 200px;
	overflow: hidden;
	margin-left: -3px;
}
.x-carousel li a {
	display: table-cell;
	height: 90px;
	line-height: 41px;
	vertical-align: middle;
}
.x-carousel li:hover {
	opacity: 1;
}
.x-carousel li:hover:after {
	opacity: 1;
}
.x-carousel li:after {
	opacity: 0;
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 15px;
	position: absolute;
	right: -15px;
	top: -5px;
	transform: rotate(45deg);
	width: 25px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.x-carousel * {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
/* 0.8 Events */



.discount-btn {
	background: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.events-content .price-box {
	position: relative;
	text-align: left;
}
.events-content .price-box .price-regular-single {
	margin-right: 0;
	font-size: 20px;
}
.events-content .price-box .price-reduction {
	background: #FF3399;
	top: -3px;
}
.events-content .price-reduction:after {
	border-bottom: 14px solid transparent;
	border-top: 14px solid transparent;
	border-left: 9px solid transparent;
	border-right: 9px solid #FF3399;
	position: absolute;
	left: -16px;
	top: 0;
	content: '';
}
.events-image img {
	width: 100%;
	height: auto;
}
.events-content h3 {
	font-family: 'Open Sans';
	text-align: left;
	text-transform: uppercase;
}
.events-content h3 strong {
	font-family: 'Bubblegum Sans';
	font-weight: normal !important;
}
.events-date {
	color: #FF3399;
	font-size: 20px;
	text-align: left;
}
.cd-events-wrapper {
	text-align: left;
}
.cd-events-wrapper {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 1;
}
.cd-events {
	
	text-align: center;
}
.cd-events:after {
	content: "";
	display: table;
	clear: both;
}
.cd-events > li {
	position: absolute;
	opacity: 0;
}
.cd-events > li:first-child {
	position: relative;
	opacity: 1;
}
.cd-events p {
	font-size: 16px;
	font-family: 'Open Sans';
	text-align: left;
	line-height: 1.6;
}
.cd-events-wrapper .flex-direction-nav li a::before, .cd-events-wrapper .flex-direction-nav li a::after {
	content: '';
	position: absolute;
	z-index: 9;
	left: 50%;
	top: 50%;
	width: 2px;
	height: 13px;
}
.cd-see-all {
	background: none repeat scroll 0 0 #FF3399;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	margin-top: 20px;
}
.cd-events-wrapper .flex-direction-nav li {
	float: left;
}
.cd-events-wrapper .flex-direction-nav li:hover a {
	background-color: #e21712;
	border-color: #e21712;
	text-decoration: none;
}
.cd-events-wrapper .flex-direction-nav li a {
	border: 1px solid #000;
	float: left;
	height: 32px;
	padding: 0 5px;
	width: 25px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	text-decoration: none !important;
	opacity: 1 !important;
}
.cd-events-wrapper .flex-direction-nav {
	float: right;
}

.cd-events-all {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-events-all .cd-events-all-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.cd-events-all .cd-events-all-wrapper > ul {
	width: 90%;
	max-width: 1170px;
	margin: 4em auto;
}
.cd-events-all .cd-events-all-wrapper > ul:after {
	content: "";
	display: table;
	clear: both;
}
.cd-events-all .cd-events-item {
	margin-bottom: 2em;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0) scale(0.4);
	-moz-transform: translate3d(0, 0, 0) scale(0.4);
	-ms-transform: translate3d(0, 0, 0) scale(0.4);
	-o-transform: translate3d(0, 0, 0) scale(0.4);
	transform: translate3d(0, 0, 0) scale(0.4);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
}
.cd-events-all.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-events-all.is-visible .cd-events-item {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}
.close-btn {
	position: fixed;
	display: block;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 5%;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.close-btn::before, .close-btn::after {
	/* close icon in css */
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 24px;
	top: 8px;
	left: 19px;
	background-color: #39393c;
}
.close-btn::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-btn::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.x-coutdown h5 {
	text-align: center;
}
.x-coutdown {
	position: relative;
	left: -2px;
}
.x-coutdown * {
	text-align: center;
}
.x-cdr.last {
	border-right: 1px solid #333;
}
.x-cdr {
	border: 1px solid #333;
	border-right: 0;
	display: inline-block;
	font-family: "Bubblegum Sans";
	font-size: 46px;
	margin-right: -2px;
	padding: 10px ;
	text-align: center;
	width: 100px;
	background:rgba(0,0,0,0.3);
}
.x-cdr strong {
	display: block;
	font-size: 16px;
	color:#F39;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
.cd-events-item {
	margin-right: 2%;
	width: 47%;
	padding: 1%;
	margin-bottom: 2%;
}
.cd-events-item-image img {
	float: left;
	margin: 0 15px 10px 0;
}
.cd-events-all .cd-events-all-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.cd-events-all .cd-events-all-wrapper > ul {
	width: 90%;
	max-width: 1170px;
	margin: 4em auto;
	padding: 0;
}
.cd-events-all .cd-events-all-wrapper > ul:after {
	content: "";
	display: table;
	clear: both;
}
.cd-events-all .cd-events-item {
	margin-bottom: 2em;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0) scale(0.4);
	-moz-transform: translate3d(0, 0, 0) scale(0.4);
	-ms-transform: translate3d(0, 0, 0) scale(0.4);
	-o-transform: translate3d(0, 0, 0) scale(0.4);
	transform: translate3d(0, 0, 0) scale(0.4);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
}
.cd-events-all p {
}
.cd-events-all.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-events-all.is-visible .cd-events-item {
	border: 1px solid #eeeeee;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}
.cd-events-item p, .cd-events-item * {
	color: #000;
}
/*0.9 UPCOMING CLASSES */


.x-box-item {
	background: none repeat scroll 0 0 #fff;
	float: left;
	width: 580px;
}
.x-box-wrap-even .x-box-image {
	float: right;
}
.x-box-image {
	width: 290px;
	float: left;
	position: relative;
}
.x-box-item img {
	width: 100%;
	;
	height: auto;
}
.x-box-item .item-description h6 {
	font-size: 16px;
	font-family: 'Bubblegum Sans';
	text-transform: uppercase;
}
.x-box-item .item-description {
	float: left;
	text-align: left;
	width: 290px;
	padding: 20px;
}
.x-box-wrap-even .x-box-item .item-description {
	float: right;
}
.item-description, .item-description * {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 20px;
	color: #000 !important;
}
.item-description {
	position: relative;
	overflow: hidden;
}
.x-box-image:after {
	background: none repeat scroll 0 0 #fff;
	content: "";
	height: 25px;
	position: absolute;
	right: -12px;
	top: 43%;
	transform: rotate(45deg);
	width: 25px;
	z-index: 9;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.x-box-wrap-even .x-box-image:after {
	left: -12px;
}
.x-box-item:hover .x-box-image-overlay {
	opacity: 1;
}
.x-box-image-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	transition: all 0.3s ease-out 0s;
	width: 100%;
}
.x-box-image-overlay a {
	text-decoration: none !important;
}
.x-box-image-overlay i {
	display: block;
	font-size: 45px;
	margin: 69px;
	opacity: 0.5;
	text-decoration: none !important;
	border: none !important;
}
/* 10 Team*/
.cd-img-overlay .x-hover {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	top: 160px;
}
#cd-team li:hover .x-hover-text {
	color: #000 !important;
}
.cd-img-overlay .x-hover:after {
	background-color: #FF3399;
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	max-width: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
 .cd-img-overlay:hover:  .x-hover:after {
 max-width: 100%;
 line-height: inherit;
 -webkit-transition: max-width .3s ease-out;
 -moz-transition: max-width .3s ease-out;
 -ms-transition: max-width .3s ease-out;
 -o-transition: max-width .3s ease-out;
 transition: max-width .3s ease-out;
}
.social-team {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px !important;
}
.social-team li {
	display: inline-block;
	float: none !important;
	margin: 10px 5px 0 0 !important;
	padding: 0 !important;
	width: 35px !important;
}
.social-team li a {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 5px;
	width: 33px;
	height: 33px;
	vertical-align: top;
	line-height: 24px;
	overflow: hidden;
	position: relative;
}
.social-team li a:after {
	background: none repeat scroll 0 0 #e21712;
	content: "";
	height: 15px;
	position: absolute;
	right: -15px;
	top: -8px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 25px;
}
.staff-position {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline;
	float: left;
	font-family: "Bubblegum Sans";
	font-size: 16px;
	left: 0;
	margin: 0 0px 10px 0;
	padding: 15px 20px;
	text-align: left;
	text-transform: uppercase;
}
#cd-team li:hover .staff-position {
	float: right;
}
.staff-name {
	color: #fff;
	font-size: 24px;
	padding-right: 20px;
	text-align: right;
	text-transform: uppercase;
}
.staff-wrap .staff-shorty {
	color: #fff;
	padding: 10px 20px 20px 20px;
}
#cd-team li:hover .staff-wrap, #cd-team li:hover .staff-position, #cd-team li:hover .cd-member-info:after {
	background-color: #e21712;
}
#cd-team li:hover .social-team i {
	color: #fff;
}
#cd-team li > a:hover {
	text-decoration: none;
	color: #fff !important;
	border-color: #FF3399 !important;
	background: #FF3399;
}
#cd-team li > a:hover i {
	text-decoration: none;
	color: #e21712 ;
}
#cd-team li:hover figure:after {
	opacity: 1;
}
.team-navigation {
	margin-top: -20px;
}
/* 11 REVIEW */



.desc-det {
	font-family: 'Open Sans';
	float: left;
	padding: 20px;
	text-align: left;
	width: 405px;
	font-size: 13px;
	color: #000;
}
.autor-date {
	padding-left: 17px;
	position: relative;
}
.autor-date .fa {
	position: absolute;
	left: 0;
	top: 0;
	color: #e21712;
}
.autor-date h5 {
	text-align: left;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 5px;
}
.autor-date p {
	text-align: left;
	font-family: 'Open Sans';
	color: #aaaaaa;
	font-size: 11px;
}
.avatar-review {
	float: left;
	width: 140px;
}
.avatar-review img {
	width: 100%;
	height: auto;
}
.review-slider li {
	border: 1px solid #DDDDDD;
	background: #fff;
	display: inline-block;
	float: left;
	list-style: none outside none;
	margin: 0 20px 60px;
	padding: 0;
	position: relative;
	vertical-align: top;
	width: 550px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.review-slider li:hover {
	background: #000;
}
.review-slider li:hover * {
	color: #fff;
}
#our-reviews .avatar-review {
	float: left;
	height: auto;
	max-width: 170px;
	position: relative;
}
#our-reviews .avatar-review img {
	width: 100%;
	height: auto;
}
.team-member:hover .avatar-review:after {
	display: block !important;
}
#our-reviews .avatar-review:after {
	background: rgba( 0, 0, 0, 0.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display: none;
}
.details-review {
	float: left;
	height: 170px;
	padding: 20px;
	position: relative;
	text-align: left;
	width: 405px;
}
.review-autor {
	border-top: 10px solid #D2583E;
	bottom: -55px;
	position: absolute;
	right: 10px;
	text-align: center;
	width: 100px;
}
.review-autor:before {
	background: none repeat scroll 0 0 #D2583E;
	color: #FF1C32;
	content: "";
	display: block;
	height: 3px;
	left: -6px;
	padding: 5px;
	position: absolute;
	top: -10px;
 -webkit- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
 -moz- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	width: 15px;
	z-index: 999;
}
.review-autor:after {
	background: none repeat scroll 0 0 #D2583E;
	color: #FF1C32;
	content: "";
	display: block;
	height: 3px;
	right: -6px;
	padding: 5px;
	position: absolute;
	top: -10px;
 -webkit- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
 -moz- transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	transform: rotate(0deg) scale(1.01) skew(-17deg) translate(0px);
	width: 15px;
	z-index: 999;
}
.review-autor .heading {
	font-size: 14px;
	margin: 10px 0 5px;
	padding: 0;
	text-align: center !important;
}
.review-autor .sub-heading {
	color: #777777;
	font-size: 12px;
	margin: 0;
	text-align: center !important;
	padding: 0;
}
/* 12 contactForm */

.contactForm-shop {
	margin-bottom: 40px;
}
#contactForm input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	font-family: 'Open Sans';
	font-size: 13px;
	text-transform: uppercase;
	height: auto;
	padding: 10px;
	margin-bottom: 25px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
#contactForm textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	font-family: 'Open Sans';
	font-size: 13px;
	height: 114px;
	margin-bottom: 22px;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
#contactForm textarea:focus, #contactForm input:focus {
	border-color: #FF3399;
}
#contactForm .btn-xl {
	background: none repeat scroll 0 0 #e21712;
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
	margin-top: -5px;
	color: #fff !important;
	border: none;
}
#contactForm .form-group {
	position: relative;
}
#contactForm .form-group .help-block {
	color: #e21712;
	left: 0;
	line-height: 27px;
	padding-right: 0;
	position: absolute;
	text-align: left;
	text-indent: 0px;
	top: 36px;
	width: 255px;
}
#contactForm .form-group .help-block * {
	color: #e21712;
}
#contactForm .form-group.form-group-text .help-block {
	color: #e21712;
	left: 15px;
	line-height: 27px;
	padding-right: 20px;
	position: absolute;
	text-align: left;
	text-indent: 0;
	top: 75px;
	width: 200px;
}
.icon-set-wrap {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
	width: 100%;
}
.icon-set-wrap .icon-set {
	border: 2px solid #e21712;
	border-radius: 100px;
	float: left;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-size: 20px;
}
.content-icon-set {
	float: left;
	padding: 8px 0 15px 15px;
	width: 200px;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}
.content-icon-set a {
	padding: 5px 2px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.content-icon-set a:hover {
	background: none repeat scroll 0 0 #e21712;
	color: #fff;
	text-decoration: none !important;
}
.cd-form-wrapper .section-heading {
	font-size: 30px;
	font-family: 'Open Sans';
}
.cd-form-wrapper .section-heading strong {
	font-family: 'Open Sans';
}
.cd-form-wrapper .heading-wrap {
	margin: 0 auto 40px;
}
.map {
	margin: -20px 0 0 0px;
}
.map img {
	width: 100%;
	height: auto;
}
.iframe {
	border: medium none;
	height: 350px;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
/*13 Footer Blog and Home*/


.footer {
	font-family: 'Open Sans';
	color: #fff;
	text-align: left;
}
.footer td {
	font-family: 'Open Sans';
	font-weight: normal;
	border-bottom: 1px solid #333333;
	padding: 10px 0;
	text-align: right;
}
.footer th {
	font-family: 'Open Sans';
	font-weight: normal;
	border-bottom: 1px solid #333333;
	padding: 10px 0;
	text-align: left;
	width: 120px;
}
.fot-title {
	font-family: 'Bubblegum Sans';
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
	color: #e21712;
}
#faux-footer {background: #ddd;
  
    width: 100%;
    display: block;

    text-align: right;
    padding: 20px;
    font-size: 14px; color:#000;
	-moz-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
    -webkit-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
    -o-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
    -ms-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
    transform: rotate(0deg) skewX(0deg) skewY(-3deg);
	}
#faux-footer a { text-align:right; padding-right:20px; color:#999}

.big-logo {
	margin-bottom: 10px;
}
.social-links {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px !important;
}
.social-links li {
	display: inline-block;
	float: none !important;
	margin: 10px !important;
	padding: 0 !important;
	
}
.social-links li a i {color: #FF3399;} 
.social-links li a {
	
	font-size: 50px;
	
	position: relative;
	vertical-align: top;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.social-links li a i {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.social-links li a:hover {
	text-decoration: none;
	color: #e21712;
}
.social-links li a:hover i {
	text-decoration: none;
	color: #e21712;
}
/* 14 Flickr feed*/





.flickr-feed {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 300px;
	text-align: left;
}
.flickr-feed li {
	display: inline-block;
	list-style: outside none none;
	margin-bottom: 15px;
	margin-right: 15px;
	position: relative;
}
.flickr-feed > li > a > span {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALUlEQVQIW2P8//9/PQMESAHxMxCDESoIF4AJzoSpgOqAq4TxwcbAtMMEwcYAAACRFYxNBVDfAAAAAElFTkSuQmCC") repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 350ms ease-in 0s;
	visibility: hidden;
	width: 100%;
	z-index: 2;
}
.flickr-feed > li > a:hover > span {
	opacity: 1;
	visibility: visible;
}
.flickr-feed > li > a > span > i {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 36px;
	left: 50%;
	line-height: 34px;
	margin-left: -18px;
	margin-top: -18px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 36px;
}
/*15  Table*/



.table-line:hover .price-plan-wrap, .table-line.active .price-plan-wrap {
	background-color: #000;
}
.table-line .price-plan-wrap {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
	float: left;
	overflow: hidden;
	padding-left: 30px;
	position: relative;
	width: 30%;
}
.table-line.single .price-plan-wrap, .table-line.single .ptable-offer-button {background-color:#969;}
.table-line.single .ptable-offer-button:after {border-right: 9px solid #969;}
.table-line.single .ptable-offer-item { color:#969; }

.table-line.standard .price-plan-wrap, .table-line.standard .ptable-offer-button {background-color:#FF3399;}
.table-line.standard .ptable-offer-button:after {border-right: 9px solid #FF3399;}
.table-line.standard .ptable-offer-item { color:#FF3399;}

.table-line.vip .price-plan-wrap, .table-line.vip .ptable-offer-button {background-color:#F06;}
.table-line.vip .ptable-offer-button:after {border-right: 9px solid #F06;}
.table-line.vip .ptable-offer-item { color:#F06;}

.table-line .price-plan {
	color: #fff;
	font-family: "Bubblegum Sans";
	font-size: 34px;
	height: 90px;
	padding: 20px;
	text-align: center;
}
.table-line .price-plan-wrap h3 {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background: none repeat scroll 0 0 rgba(0,0,0,0.3);
	color: #fff;
	font-family: 'Bubblegum Sans';
	font-size: 14px;
	left: -30px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 27px;
	width: 93px;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.table-line:hover .price-plan-wrap h3, .table-line.active .price-plan-wrap h3 {
	background-color: #e21712;
}
.flex-active-slide .video-container {
	display: block;
}
.table-line {
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}
.ptable-offer-item {
	color: #000;
	display: inline-block;
	float: left;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	width:45%;
}
.ptable-offer-item strong {
	font-size: 26px;
	font-family: 'Bubblegum Sans';
	display: block;
}
.ptable-offer-button {
	background: none repeat scroll 0 0 #555555;
	color: #fff;
	display: block;
	float: right;
	font-size: 24px;
	height: 90px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 10%;
}
.table-line:hover .ptable-offer-button, .table-line.active .ptable-offer-button {
	background-color: #e21712;
}
.table-line:hover .ptable-offer-button:after, .table-line.active .ptable-offer-button:after {
	border-right: 9px solid #e21712;
	border-bottom: 16px solid #f4f4f4;
	border-top: 16px solid #f4f4f4;
	border-left: 9px solid #f4f4f4;
}
.ptable-offer-button:after {
	border-right: 9px solid #555555;
	border-bottom: 16px solid #fff !important;
	border-top: 16px solid #fff !important;
	border-left: 9px solid #fff !important;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	left: -18px;
	top: 31px;
}
.ptable-offer-button a {
	color: #fff;
	display: block;
	font-family: "Bubblegum Sans";
	font-size: 35px;
    padding: 23px 10px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
}
.ptable-offer-button a small {
	display: block;
	font-size: 11px;
	font-family: 'Open Sans';
}
.ptable-offer-item {
	color: #000;
	display: table;
	font-size: 24px;
	padding: 0 20px;
	height:90px;
	font-family: 'Bubblegum Sans';

}

.ptable-offer-item.price {
	height: 90px;
    font-size: 48px;
    padding: 0 20px; width:15%;}
.flex-item {
	margin: 0 auto;
	 display: table-cell;
    vertical-align: middle;

}
.ptable-heading {
	display: inline-block;
	width: 100%;
}
.ptable-our-packet {
	background-color: #000;
	color: #fff;
	float: left;
	font-size: 18px;
	height: 67px;
	line-height: 26px;
	padding: 20px;
	width: 20%;
}
.ptable-more-info {
	background-color: #FF3399;
	color: #fff;
	float: left;
	font-size: 14px;
	height: 66px;
	padding: 13px;
	text-transform: uppercase;
	width: 270px;
	height: 67px;
}
.ptable-phone {
	background-color: #FF3399;
	color: #fff;
	float: left;
	font-family: "Bubblegum Sans";
	font-size: 24px;
	height: 67px;
	padding: 17px;
}
/* 16 Navigation  */




.header-home .container {
	position: relative;
}
#iview .container {
	position: relative;
}
.header-home .blog-logo {
	left: 0;
	position: absolute;
	top: 50px;
	z-index: 789;
}
.x-navigation:after {
	border: 2px solid #dddddd;
	border-left: 0;
	border-right: 0;
	content: "";
	display: inline-block;
	left: 0;
	padding: 1px;
	position: absolute;
	top: 20px;
	width: 100%;
	z-index: 3;
}
.x-navigation {
	margin: 20px auto 0;
	position: relative;
	text-align: center;
}
.x-navigation .slider-direction {
	background: #fff;
	border: 1px solid #ddd;
	height: 40px;
	width: 40px;
	padding: 5px 0;
	text-align: center;
	top: 0;
	position: relative;
	z-index: 7;
}
.x-navigation .btn-danger {
	padding: 10px 20px;
	position: relative;
	text-align: center;
	top: 0;
	z-index: 7;
}
.x-navigation .slider-direction a {
	z-index: 4;
}
.x-navigation .slider-direction:hover {
	background: #000;
	border: 1px solid #000;
}
.x-navigation .slider-direction:hover i {
	color: #fff;
}
.x-navigation .slider-direction i {
	color: #000;
}
.x-navigation .slider-direction.disabled {
	
	opacity:1;
}
.x-navigation .slider-direction.disabled  i {color: #ccc;}
.x-navigation .prev-page {
	left: 0;
}
.x-navigation .next-page {
	right: 0;
}
.x-navigation .pages {
	display: table;
	margin: 0 auto;
	display: none !important;
}
.x-navigation .pages > li {
	float: left;
	margin: 0 5px;
	text-indent: -9999em;
	width: 15px;
	height: 15px;
	background: none repeat scroll 0 0 #EEEEEE;
	cursor: pointer;
}
.x-navigation .pages > .active {
	background: #d2583e;
}
/*17  Section */

.x-section {
	padding: 30px 0;
	background-color: #fff;
	position: relative;
}
.x-section .brand-carousel {
	margin-top: 0px;
}
.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
}
.b-lazy.b-loaded {
	opacity: 1;
}
.home-section {
	padding: 70px 0;
	
	position: relative;
	-moz-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
-webkit-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
-o-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
-ms-transform: rotate(0deg) skewX(0deg) skewY(-3deg);
transform: rotate(0deg) skewX(0deg) skewY(-3deg);
}


.home-section > .container {
-moz-transform: rotate(0deg) skewX(0deg) skewY(3deg);
-webkit-transform: rotate(0deg) skewX(0deg) skewY(3deg);
-o-transform: rotate(0deg) skewX(0deg) skewY(3deg);
-ms-transform: rotate(0deg) skewX(0deg) skewY(3deg);
transform: rotate(0deg) skewX(0deg) skewY(3deg);}




.no-bg-color-parallax.parallax-white .parallax-bg:after {
	background-color: rgba(255, 255, 255, 0.9);
}

.no-bg-color-parallax .parallax-bg:after {
	background-color: rgba(0, 0, 0, 0.7);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.no-bg-color-parallax .parallax-bg {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	min-height: 400%;
	background-color: #666;
	background-color: rgba(0, 0, 0, 0.7);
}
.no-bg-color-parallax {
	background-color: transparent !important;
	overflow: hidden;
}
.parallax-black *, .parallax-black .about-tabs .tab-li-content h4 {
	color: #fff;
}
.panel-default {border-color:#000;}
.panel-default>.panel-heading { background:#FF3399; border-color:#000; }
.panel-body { color:#333; font-size:18px; }
.panel-body a {color:#FF3399;}
.panel-default>.panel-heading h4 { font-family: 'Bubblegum Sans';
    font-size: 24px;}
	.panel-title>a { display:block;}
.home-section ul, .x-section ul {
	list-style: outside none none;
	padding: 0;
	margin: 0;
}
.color-1 {
	color: #e21712;
}
.nav-tabs>li.active>a { color:#000;}